{% extends "base.html" %}
{% block title %}Uploader{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
   <h1>Upload a New Data Plane Table</h1>
    <form action = "/upload" method = "post" enctype="multipart/form-data">   
        <label for="file">Choose File:</label>
        <input type="file" name="file" /><br>  
        <input type = "submit" value="Upload">   
    </form>   
{% endblock %}